@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* ****************************************************************************** */

.container {
  width: 100%;
  position: relative;
}

.navbar {
  font-family: 'Lato';
  background: #5C6F68;
  line-height: 1;
  display: block;
  width: 100%;
}

.navbar,
.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar>li {
  float: left;
}

.navbar li a,
.navbar>li>form {
  padding: 19px 20px;
  display: block;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
  color: #ffffff;
}

.navbar li a:hover,
.navbar>li>form:hover {
  color: rgb(154, 154, 154);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#fright {
  float: right
}

#logoutBtn {
  float: right;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar:after {
  clear: both;
  content: "";
  display: table;
}

.menu {
  display: none;
}

#itemStatus {
  font-family: 'Lato';
  font-size: medium;
  width: 25%;
}


@media only screen and (max-width: 750px) {
  .container {
    display: none;
  }

  .navbar {
    display: none;
  }

  .menu {
    z-index:1;
    top: 0;
    display: block;
    background-color: #435a50;
    margin: 0;
    padding: 0;
    height: 42px;
    position: fixed;
    width: 100%;
  }

  #menuClicked {
    opacity: 0;
  }

  #menuClicked:checked~.menuInside {
    left: 0;
  }

  .menuBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menuBtn>span::before {
    content: '';
    top: -8px;
  }

  .menuBtn>span,
  .menuBtn>span::before,
  .menuBtn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #848484;
    transition-duration: .25s;
  }

  .menuBtn>span::after {
    content: '';
    top: 8px;
  }

  .menuInside {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 275px;
    height: 100%;
    padding-top: 60px;
    list-style: none;
    background-color: #435a50;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    transition-duration: 300ms;
  }

  .links {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-decoration: none;
    transition-duration: 250ms;
    border: none;
  }

  .links:hover {
    background-color: #8a8f8a;
  }

  #logoutBtns {
    background-color: #435a50;
  }

}

#pagename {
  grid-area: 1/2/2/3;
  font-family: 'Lato';
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

body {
  font-family: sans-serif;
  background: url("/imgs/background3.jpg") center/cover fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: scroll;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 3% 62% 15%;
  grid-template-rows: 20% 70% 10%;
}

#content {
  grid-area: 2/2/3/3;
  background-color: rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 2% auto;
  box-shadow: 0 0 10px rgb(40, 39, 39);
  padding: 20px;
  font-family: 'Lato', sans-serif;
  align-items: center;
  text-align: center;
}

#editForm {
  text-align: center;
  align-items: center;
  margin-bottom: -20px;
}

#editForm input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
  border-radius: 5px;
}

#description {
  width: 400px;
  height: 150px;
}

footer {
  display: none;
  position: absolute;
  bottom: 20px;
  text-align: center;
  align-items: center;
}

#submit,
#savepost,
#deletepost,
#deleteMsgBtn,
#cancelMsgBtn {
  border: none;
  outline: none;
  background-color: #8AA39B;
  padding: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: aliceblue;
  border-radius: 1px;
  margin-bottom: 10pt;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px rgb(73, 71, 71);
}

#deletepost, #deleteMsgBtn {
  background-color: #714955;
}

#cancelDiv {
  align-items: center;
  text-align: center;
}

#cancel {
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-top: 10px;
  border-radius: 1px;
}

#cancel {
  padding-left: 0;
  font-family: 'Lato', sans-serif;
  background-color: #5C6F68;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: aliceblue;
  box-shadow: 1px 1px 1px rgb(73, 71, 71);
}

#cancel:hover,
#submit:hover,
#savepost:hover,
#cancelMsgBtn:hover {
  background-color: #587568;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#deletepost:hover,
#deleteMsgBtn:hover {
  background-color: rgb(81, 52, 52);
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#cancelMsgBtn, #deleteMsgBtn {
  width: 50%;
  align-self: center;
  cursor: pointer;
}



@media only screen and (max-width: 750px) {
  #pagename {
    font-size: 10vw;
  }
  #content {
    grid-area: 2/2/3/3;
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;

  }

  #editForm {
    text-align: center;
    align-items: center;
    margin-bottom: -20px;
  }

  #editForm input {
    width: 90%;
 
  }

  #description {
    width: 90%;
    height: 150px;
  }

}


/* Popup confirmation div */
.popup {
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: #c5c5c5;
  padding-top: 50px;
}

/* Popup confirmation details */
.deleteMsgContent {
  background-color: #fefefe;
  margin: 10% auto 15% auto; 
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}