* {
    padding: 0;
    margin: 0;
}

/* This is where the game is played */
#falling-blocks {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;

}

/* The game character to be controlled */
#gamer {
    width: 100px;
    height: 100px;
    position: relative;
    top: 300px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

/* The Stickman figure as the game character */
#gamer>#stickman {
    height: 100px;
    
}

/* The obstacle that moves downwards */
#obstacle {
    width: 100px;
    height: 100px;
    position: relative;
    animation: slide 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

/* the falling obstacles with a label */
#obstacle>#crisis{
    color: red;
    text-align: center;
}


/* Allows the obstacles to slide to the bottom  */
@keyframes slide {
    0% {
        top: -100px;
    }

    100% {
        top: 500px;
    }
}

/* Hides the block that slides out of the game space */
/* Note: 580px from the top is where the game's field of play ends. */
#white {
    width: 300px;
    height: 110px;
    position: absolute;
    top: 580px;
    background-color: white;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#start{
    margin: auto;
    height: 3vh;
}

/* The Game title that appears in the white block */
#game-title {
    padding-top: 10vh;
    color: black;
    text-align: center;
    margin: auto;
}

/* Assigns the position of the left and right div for touch screen use */
#left,
#right {
    width: 50%;
    position: absolute;
    height: 500px;
}

/* Aligns the right touchscreen div to the right */
#right {
    left: 50%;
}

/* Aligns the pop up box to the middle */
#msg-box{
    top: 30vh;
    left: 12vw;
    padding: 50px;
    position: absolute;
    border: 3px solid black;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}