@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nanum+Gothic:wght@700&family=Nunito:wght@500;700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
}


/* Navbar */
.container {
    width: 100%;
    position: relative;
}

.navbar {
    font-family: 'Lato';
    background: #5C6F68;
    line-height: 1;
    display: block;
    width: 100%;
}

.navbar,
.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar>li {
    float: left;
}

.navbar li a,
.navbar>li>form {
    padding: 19px 20px;
    display: block;
    text-decoration: none;
    align-items: center;
    font-size: 17px;
    color: #ffffff;
}

.navbar li a:hover,
.navbar>li>form:hover {
    color: rgb(154, 154, 154);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#fright {
    float: right
}

#logoutBtn {
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navbar:after {
    clear: both;
    content: "";
    display: table;
}

.menu {
    display: none;
}

@media only screen and (max-width: 750px) {
    .container {
        display: none;
    }

    .navbar {
        display: none;
    }

    .menu {
        z-index: 1;
        top: 0;
        display: block;
        background-color: #435a50;
        margin: 0;
        padding: 0;
        height: 42px;
        width: 100%;
    }

    #menuClicked {
        opacity: 0;
    }

    #menuClicked:checked~.menuInside {
        left: 0;
    }

    .menuBtn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menuBtn>span::before {
        content: '';
        top: -8px;
    }

    .menuBtn>span,
    .menuBtn>span::before,
    .menuBtn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #848484;
        transition-duration: .25s;
    }

    .menuBtn>span::after {
        content: '';
        top: 8px;
    }

    .menuInside {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 275px;
        height: 100%;
        padding-top: 60px;
        list-style: none;
        background-color: #999F99;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
        transition-duration: 300ms;
    }

    .links {
        display: block;
        padding: 12px 24px;
        color: rgb(39, 39, 39);
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        text-decoration: none;
        transition-duration: 250ms;
        border: none;
    }

    .links:hover {
        background-color: #8a8f8a;
    }

    #logoutBtns {
        background-color: #999F99;
    }
}

#navbar {
    display: none;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    background: url("/imgs/background3.jpg") center/cover fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}



/* This is where the game is played */
#falling-blocks {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;

}

/* The game character to be controlled */
#gamer {
    width: 100px;
    height: 100px;
    position: relative;
    top: 300px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

/* The Stickman figure as the game character */
#gamer>#stickman {
    height: 100px;
    
}

/* The obstacle that moves downwards */
#obstacle {
    width: 100px;
    height: 100px;
    position: relative;
    animation: slide 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

/* the falling obstacles with a label */
#obstacle>#crisis{
    color: red;
    text-align: center;
}


/* Allows the obstacles to slide to the bottom  */
@keyframes slide {
    0% {
        top: -100px;
    }

    100% {
        top: 500px;
    }
}

/* Hides the block that slides out of the game space */
/* Note: 580px from the top is where the game's field of play ends. */
#white {
    width: 300px;
    height: 110px;
    position: absolute;
    top: 580px;
    background-color: white;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#start{
    margin: auto;
    height: 3vh;
}

/* The Game title that appears in the white block */
#game-title {
    padding-top: 10vh;
    color: black;
    text-align: center;
    margin: auto;
}

/* Assigns the position of the left and right div for touch screen use */
#left,
#right {
    width: 50%;
    position: absolute;
    height: 500px;
}

/* Aligns the right touchscreen div to the right */
#right {
    left: 50%;
}

/* Aligns the pop up box to the middle */
#msg-box{
    top: 30vh;
    left: 12vw;
    padding: 50px;
    position: absolute;
    border: 3px solid black;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}