body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#topnav {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbutton {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: turquoise;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
}

#posts {
    margin-top: 40px;
}

.post {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50% 10% 30% 10%;
}

.postimage {
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.postimage img {
    width: 100%;
    margin: auto;
}

.posttitle {
    overflow: hidden;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.postcontent {
    overflow: hidden;
    padding-left: 10px;
}

.postfooter {
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    border-radius: 0px 0px 15px 15px;
}

/* mobile view */
@media only screen and (max-width : 425px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .post {
        margin: 10px auto;
        width: 95vw;
        height: 95vw;
    }

    .posttitle {
        font-size: 26px;
    }

    .postcontent {
        font-size: 20px;
    }

    .postfooter {
        font-size: 18px;
    }

}

@media only screen and (min-width : 426px) and (max-width : 1000px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 50vw);
    }

    .post {
        margin: auto;
        width: 47vw;
        height: 47vw;
    }

    .posttitle {
        font-size: 22px;
    }

    .postcontent {
        font-size: 16px;
    }

    .postfooter {
        font-size: 14px;
    }

}

@media only screen and (min-width : 1001px) and (max-width : 1200px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 33vw);
    }

    .post {
        margin: auto;
        width: 30vw;
        height: 30vw;
    }

    .posttitle {
        font-size: 22px;
    }

    .postcontent {
        font-size: 16px;
    }

    .postfooter {
        font-size: 14px;
    }

}

@media only screen and (min-width : 1201px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 25vw);
    }

    .post {
        margin: auto;
        width: 23vw;
        height: 23vw;
    }

    .posttitle {
        font-size: 20px;
    }

    .postcontent {
        font-size: 14px;
    }

    .postfooter {
        font-size: 12px;
    }

}