@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

body {
  font-family: sans-serif;
  background: url("/imgs/background4.jpg") center/cover fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%
}

.container {
  grid-area: 1/1/2/2;
  background-color: rgba(0, 0, 0, 0.1);
  width: 375px;
  margin: 8% auto;
  border-radius: 25px;
  box-shadow: 0 0 17px rgb(243, 243, 243);
}

.header {
  text-align: center;
  padding-top: 75px;
  font-family: 'Pacifico', cursive;
}

.header>h1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  margin-bottom: 80px;
}

.loginF {
  text-align: center;
}

.loginF input{
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
  border-radius: 5px;
}

#loginBtn{
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;
  border-radius: 5px;
}

#loginBtn {
  padding-left: 0;
  font-family: 'Lato', sans-serif;
  background-color: #526e62;
  box-shadow: 0 0 3px rgb(40, 39, 39);
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 40px;
  color: aliceblue;
}

#loginBtn:hover {
  background-color: #435a50;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

.loginF input:hover {
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
  background-color: rgba(221, 221, 221, 0.959);
}

.loginF>span {
  position: relative;
}

.loginF>i {
  font-size: 16px;
  top: 2px;
  position: absolute;
  left: 15px;
  color: rgb(53, 52, 52);
}

#signupDiv {
  text-align: center;
}

#signupDiv > input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
}

#signupDiv > p {
  text-decoration: none;
  color: rgba(221, 221, 221, 0.959);
}

.OTHText>h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 5.5vw;
  color: rgba(75, 72, 72, 0.959);
  position: relative;
  top: 50pt;
  left: -30pt;
  padding-top: 100px;
}

footer > p{
  position: absolute;
  max-width: 100%;
  bottom: -50px;
  left: 47%;
  font-size: 1vw;
  color: aliceblue;
}

#signupForm {
  font-family: 'Lato', sans-serif;
}

#signup {
  border: none;
  outline: none;
  background-color: #3b4f4c;
  padding: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: aliceblue;
  border-radius: 5pt;
  margin-bottom: 10pt;
  font-weight: bold;
}

#errorMsg {
  color: aliceblue;
}

#signup:hover {
  background-color: #2e3d3b;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#copyright {
  position: fixed;
  bottom: 20pt;
  font-family: 'Lato', sans-serif;
  color: black;
}

@media only screen and (max-width : 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    height: auto;
  }

  .container {
    width: 680px;
    height: 1050px;
    margin: 30% auto;
  }

  .OTHText>h1 {
    display: none;
  }

  .header>h1 {
    font-size: 9vw;
  }

 
  .loginF input{
    width: 500px;
    height: 60px;
    font-size: 30px;
    font-family: 'Lato';
    font-weight: bold;
  }

  #loginBtn{
    width: 500px;
    height: 60px;
    font-size: 30px;
  }

  #signupDiv > p {
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Lato';
    text-decoration: none;
    color: rgba(0, 0, 0, 0.959);
  }

  footer > p{
    left: 40%;;
    text-align: center;
  }

  #signup {
    font-size: 30px;

  }
 
  #copyright {
    position: fixed;
    bottom: 20pt;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 2vw;
  }
}
