@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nanum+Gothic:wght@700&family=Nunito:wght@500;700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    position: relative;
}

.navbar {
    font-family: 'Lato';
    background: #5C6F68;
    line-height: 1;
    display: block;
    width: 100%;
}

.navbar,
.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar>li {
    float: left;
}

.navbar li a,
.navbar>li>form {
    padding: 19px 20px;
    display: block;
    text-decoration: none;
    align-items: center;
    font-size: 17px;
    color: #ffffff;
}

.navbar li a:hover,
.navbar>li>form:hover {
    color: rgb(154, 154, 154);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#fright {
    float: right
}

#logoutBtn {
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navbar:after {
    clear: both;
    content: "";
    display: table;
}

.menu {
    display: none;
}

@media only screen and (max-width: 750px) {
    .container {
        display: none;
    }

    .navbar {
        display: none;
    }

    .menu {
        z-index: 1;
        top: 0;
        display: block;
        background-color: #435a50;
        margin: 0;
        padding: 0;
        height: 42px;
        position: fixed;
        width: 100%;
    }

    #menuClicked {
        opacity: 0;
    }

    #menuClicked:checked~.menuInside {
        left: 0;
    }

    .menuBtn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menuBtn>span::before {
        content: '';
        top: -8px;
    }

    .menuBtn>span,
    .menuBtn>span::before,
    .menuBtn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #848484;
        transition-duration: .25s;
    }

    .menuBtn>span::after {
        content: '';
        top: 8px;
    }

    .menuInside {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 275px;
        height: 100%;
        padding-top: 60px;
        list-style: none;
        background-color: #999F99;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
        transition-duration: 300ms;
    }

    .links {
        display: block;
        padding: 12px 24px;
        color: rgb(39, 39, 39);
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        text-decoration: none;
        transition-duration: 250ms;
        border: none;
    }

    .links:hover {
        background-color: #8a8f8a;
    }

    #logoutBtns {
        background-color: #999F99;
    }
}

#navbar {
    display: none;
}

#customerName {
    font-family: 'Lato', sans-serif;
}


body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    background: url("/imgs/background3.jpg") center/cover fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#topnav {
    width: 100%;
    height: 60px;
}

.navbutton {
    width: 75%;
    margin: auto;
    background-color: #526e62;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgb(40, 39, 39);
}

.navbutton:hover {
    background-color: #435a50;
    box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#filtersearch {
    width: 90%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 75% 25%;
}

#search {
    font-size: 16px;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

#filter {
    font-size: 16px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}

.filtermenubtn {
    font-size: 16px;
    height: 24px;
    background-color: #526e62;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(40, 39, 39);
}

#pagename {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.post {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template-rows: 75% auto;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 0 10px rgb(40, 39, 39);
    font-family: 'Lato', sans-serif;
}

.postimage {
    grid-column: 1 / span 3;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.postimage img {
    width: 125%;
}

.posttitle {
    grid-column: 1 / span 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    font-weight: bold;
}

.poststatus {
    grid-column: 3;
    font-weight: bold;
    text-align: center;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #526e62;
    color: white;
    padding-bottom: 3px;
    margin-top: -1px;
}

.postlocation {
    grid-column: 1 / span 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.postoptions {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postoptions div {
    margin: auto;
}

.postdate {
    grid-column: 1 / span 3;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    border-radius: 0px 0px 15px 15px;
}

.messagepost {
    cursor: pointer;
}

/* mobile view */
@media only screen and (max-width : 425px) {

    #topnav {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #filtermenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #filtersearchcontainer {
        grid-column: 1 / span 2;
    }
    
    .filtermenubtn {
        width: 80%;
        margin: auto;
    }

    .post {
        margin: 10px auto;
        width: 95vw;
        height: 95vw;
        grid-template-rows: auto 24px 40px 18px;
    }

    .posttitle {
        font-size: 22px;
    }

    .poststatus {
        font-size: 18px;
        height: 20px;
        width: 100px;
    }

    .postlocation {
        font-size: 18px;
    }

    .postdate {
        font-size: 16px;
    }

}

@media only screen and (min-width : 426px) and (max-width : 1000px) {

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #filtermenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #filtersearchcontainer {
        grid-column: 1 / span 2;
    }
    
    .filtermenubtn {
        width: 80%;
        margin: auto;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 50vw);
    }

    .post {
        margin: 10px auto;
        width: 47vw;
        height: 47vw;
        grid-template-rows: auto 24px 40px 18px;
    }

    .posttitle {
        font-size: 22px;
    }

    .poststatus {
        font-size: 18px;
        height: 20px;
        width: 100px;
    }

    .postlocation {
        font-size: 18px;
    }

    .postdate {
        font-size: 16px;
    }

}

@media only screen and (min-width : 1001px) and (max-width : 1200px) {

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #filtermenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #filtersearchcontainer {
        grid-column: 1 / span 4;
    }
    
    .filtermenubtn {
        width: 80%;
        margin: auto;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 33vw);
    }

    .post {
        margin: 10px auto;
        width: 30vw;
        height: 30vw;
        grid-template-rows: auto 22px 36px 16px;
    }

    .posttitle {
        font-size: 20px;
    }

    .poststatus {
        font-size: 16px;
        height: 18px;
        width: 80px;
    }

    .postlocation {
        font-size: 16px;
    }

    .postdate {
        font-size: 14px;
    }
}

@media only screen and (min-width : 1201px) {

    #topnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #filtermenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #filtersearchcontainer {
        grid-column: 1 / span 4;
    }
    
    .filtermenubtn {
        width: 80%;
        margin: auto;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 25vw);
    }

    .post {
        margin: 10px auto;
        width: 23vw;
        height: 23vw;
        grid-template-rows: auto 22px 36px 16px;
    }

    .posttitle {
        font-size: 20px;
    }

    .poststatus {
        font-size: 16px;
        height: 18px;
        width: 80px;
    }

    .postlocation {
        font-size: 16px;
    }

    .postdate {
        font-size: 14px;
    }

}