@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.navbar {
  font-family: 'Lato';
  background: #5C6F68;
  line-height: 1;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar,
.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar>li {
  float: left;
}

.navbar li a,
.navbar>li>form {
  padding: 19px 20px;
  display: block;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
  color: #ffffff;
}

.navbar li a:hover,
.navbar>li>form:hover {
  color: rgb(154, 154, 154);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#fright {
  float: right
}

#logoutBtn {
  float: right;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar:after {
  clear: both;
  content: "";
  display: table;
}

.menu {
  display: none;
}

.asterisk {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .container {
    display: none;
  }

  .navbar {
    display: none;
  }

  .menu {
    top: 0;
    display: block;
    background-color: #435a50;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 100%;
    position: fixed;
  }

  #menuClicked {
    opacity: 0;
  }

  #menuClicked:checked~.menuInside {
    left: 0;
  }

  .menuBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menuBtn>span::before {
    content: '';
    top: -8px;
  }

  .menuBtn>span,
  .menuBtn>span::before,
  .menuBtn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }

  .menuBtn>span::after {
    content: '';
    top: 8px;
  }

  .menuInside {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 275px;
    height: 100%;
    padding-top: 60px;
    list-style: none;
    background-color: #435a50;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    transition-duration: 300ms;
  }

  .links {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-decoration: none;
    transition-duration: 250ms;
    border: none;
  }

  .links:hover {
    background-color: #8a8f8a;
  }

  #logoutBtns {
    color: white;
    background-color: #435a50;
  }

}

.headerContainer {
  display: grid;
  grid-template-columns: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  border-bottom-style: solid;
  border-color: #BCC1BA;
  height: 42px;
  background-color: #FCFFFD;
  color: rgb(77, 82, 86);
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  font-family: sans-serif;
  background: url("/imgs/background3.jpg") center/cover fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 3% 62% 15%;
  grid-template-rows: 20% 70% 10%;
}

#newPostHeading {
  grid-area: 2/2/3/3;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 17px;

}

#newPostHeading>h1 {
  font-family: 'Lato';
  padding-top: 5px;
  text-align: center;
}

#content {
  grid-area: 2/2/3/3;
  background-color: rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 2% auto;
  box-shadow: 0 0 10px rgb(40, 39, 39);
  padding: 20px;
  margin-top: 70px;
  font-family: 'Lato', sans-serif;
}

#signUpForm {
  text-align: center;
  align-items: center;
}

#signUpForm input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
  border-radius: 5px;
}

#newPostBtn {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: #6B9080;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

#newPostBtn:hover {
  background-color: #526e62;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#backtoMain, #resetDiv {
  text-align: center;
}

#backToLogin, #resetBtn {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 119, 119);
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#resetBtn {
  background-color: #714955;
}

#newPostDescription, #description {
  width: 400px;
  height: 150px;
}

.tox {
  width: 400px;
  margin: auto;
}

#backToLogin:hover {
  background-color: rgb(89, 88, 88);
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#resetBtn:hover {
  background-color: rgb(144, 65, 65);
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#submit {
  font-family: 'Lato';
  max-width: 150px;
  background-color: rgb(187, 187, 187);
  text-align: left;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

#submit:hover {
  background-color: rgb(144, 143, 143);
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width : 1000px) {

.headerContainer {
    height: 40px;
  }

  #logout {
    margin-bottom: 5pt;
  }

  #content {
    width: 300px;
    margin-top: 70px;
  }

  #signUpForm input {
    width: 280px;
    height: 35px;
    margin-bottom: 5px;
  }

  #newPostBtn {
    width: 280px;
    height: 35px;
    margin-left: 0%;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  #backToLogin, #resetBtn {
    width: 280px;
    height: 35px;
    margin-bottom: 10px;
  }

  #newPostDescription, #description {
    width: 280px;
    height: 120px;
  }

  #uploadFile {
    padding-top: 5px;
  }

  html, head, body {
    z-index: -1;
    position: relative;
  }

  #content {
    z-index: -1;
    position: relative;
  }
  
  .tox {
    width: 280px;
    z-index: auto;
    position: relative;
  }

}