@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nanum+Gothic:wght@700&family=Nunito:wght@500;700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  min-height: 100%;
}

#backToMain {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 80px;
  height: 35px;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #5f716b 0%, #8a8f8a 74%);
  background-size: 190% 100%;
  transition: 550ms;
  color: white;
}

#backToMain:hover {
  background-position: right;
}

#backToMain:hover:before {
  color: rgba(255, 255, 255, 0.7);
}

#backToMain:focus {
  outline: none;
}

#grid {
  display: grid;
  grid-template-rows: 15% 85%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#thisUserName, #users {
  display: none;
}

#ownerName {
  text-align: center;
  align-items: center;
  padding-top: 25px;
}

#ownerName > p{
  font-family: 'Lato';
  font-size: 20px;
}

#thirdGrid {
  border-top-style: solid;
  border-color: #8a8f8a;
  height: 100%;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 90% 10%;
  background-color: white;
}

#secondGrid {
  background: url("/imgs/whiteBackground.jpg") center/cover fixed;
}

#allMessages {
  overflow-y: scroll;
}

#messageDiv {
  display: grid;
  width: 100%;
  grid-template-columns: 80% 20%;
  bottom: 5px;
  right: 5px;
  border-top: 1px solid black;
}

#msgInput {
  grid-column: 1/2;
  width: 100%;
}

#msgBtn {
  width: 60%;
  height: 70%;
  margin-left: 40px;
  margin-top: 3.5%;
  background-color: #b1cfc5;
  border-radius: 25px;
  color: white;
  font-family: 'Lato';
}

#messageInput {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

#sendMessageBtn {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: white;
  background-color: #b1cfc5;
  font-family: 'Lato';
  border-style: none;
}

#sendMessageBtn:hover {
  background-color: #96aea6;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.your-messages {
  background-color: #91C7B1;
  text-align: right;
  color: white;
  padding: 3px;
  float: right;
  border-radius: 9px;
}

.other-user-messages {
  background-color: #9fa4a9;
  text-align: right;
  color: white;
  padding: 3px;
  float: left;
  border-radius: 9px;
}

.your-messages {
  background-color: #91C7B1;
  text-align: right;
  color: white;
  padding: 3px;
  float: right;
  border-radius: 4px;
  padding: 8px 15px 8px 15px;
}

.other-user-messages {
  background-color: #9fa4a9;
  text-align: right;
  color: white;
  padding: 3px;
  float: left;
  border-radius: 4px;
  padding: 8px 15px 8px 15px;
}

@media only screen and (max-width : 545px) {
  #msgBtn {
    margin-left: 13px;
    margin-top: 7px;
  }
}