@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nanum+Gothic:wght@700&family=Nunito:wght@500;700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  position: relative;
}

.navbar {
  z-index: 1;
  font-family: 'Lato';
  background: #5C6F68;
  line-height: 1;
  display: block;
  width: 100%;
}

.navbar,
.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar>li {
  float: left;
}

.navbar li a,
.navbar>li>form {
  padding: 19px 20px;
  display: block;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
  color: #ffffff;
}

.navbar li a:hover,
.navbar>li>form:hover {
  color: rgb(154, 154, 154);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#fright {
  float: right
}

#logoutBtn {
  float: right;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar:after {
  clear: both;
  content: "";
  display: table;
}

.menu {
  display: none;
}

@media only screen and (max-width: 750px) {
  .container {
    display: none;
  }

  .navbar {
    display: none;
  }

  .menu {
    z-index: 1;
    top: 0;
    display: block;
    background-color: #435a50;
    margin: 0;
    padding: 0;
    height: 42px;
    position: fixed;
    width: 100%;
  }

  #menuClicked {
    opacity: 0;
  }

  #menuClicked:checked~.menuInside {
    left: 0;
  }

  .menuBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menuBtn>span::before {
    content: '';
    top: -8px;
  }

  .menuBtn>span,
  .menuBtn>span::before,
  .menuBtn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #848484;
    transition-duration: .25s;
  }

  .menuBtn>span::after {
    content: '';
    top: 8px;
  }

  .menuInside {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 275px;
    height: 100%;
    padding-top: 60px;
    list-style: none;
    background-color: #435a50;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    transition-duration: 300ms;
  }

  .links {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-decoration: none;
    transition-duration: 250ms;
    border: none;
  }

  .links:hover {
    background-color: #8a8f8a;
  }

  #logoutBtns {
    background-color: #435a50;
    font-size: 22px;
  }
}

#customerName {
  font-family: 'Lato', sans-serif;
}


body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url("/imgs/background3.jpg") center/cover fixed;
  overflow-y: scroll;
  background-size: cover;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

#topnav {
  width: 100%;
  height: 50px;
}

.navbutton:hover {
  background-color: #435A50;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

.grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 15% 60%;
  margin: 3% auto;
  min-height: 500px;
  height: auto;
  position: relative;
}

#posttemplate {
  grid-area: 1/2/2/3;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

#picID {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #435A50;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0 0 6px rgb(20, 19, 19);
}

#change-input {
  grid-area: 2/2/3/3;
  position: relative;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 0 10px rgb(20, 19, 19);
  padding: 10px;
  font-family: 'Lato';
  font-weight: bold;
}

#text-input {
  grid-area: 3/2/4/3;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(20, 19, 19);
  margin-top: 40px;
}

#text-input h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
}

#text-input input {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 5px;
  border-radius: 5px;
}

#message {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #333;
  padding-top: 20px;
}

#saveBtn {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#saveBtn {
  padding-left: 0;
  font-family: 'Lato', sans-serif;
  background-color: #526E62;
  letter-spacing: 1px;
  font-weight: bold;
  color: aliceblue;
}

#userinfo {
  grid-column: 2;
  padding-top: 70px;
  z-index: 0;
}

#username {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#ratings {
  text-align: center;
  font-size: 18px;
}

#usermenu {
  grid-column: 2;
  padding-top: 90px;
  width: 100%;
}

.usermenubtn {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 26px;
  margin: auto;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: #526E62;
  color: aliceblue;
}

#overallrating {
  font-size: 24px;
}

#overallrating span {
  font-size: 20px;
}

#overallrating input {
  display: none;
}

#overallrating label {
  color: gray;
}

#userrating {
  font-size: 20px;
}

#userrating input {
  display: none;
}

#userrating label {
  color: gray;
}

@media only screen and (max-width : 1000px) {
  #navbar {
    height: 50px;
  }

  #customerName {
    font-family: 'Lato', sans-serif;
  }

  #logout {
    font-size: 3vw;
  }

  .nav-button {
    font-size: 3vw;
  }

  .grid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 30% 15% 55%;
    height: min-content;
  }

  .post {
    grid-area: 1/2/2/3;
    margin-top: 0px;
    padding: 10px;
    position: relative;
    align-items: center;
    text-align: center;
  }

  #picID {
    margin-top: 40px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    position: relative;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 12px rgb(20, 19, 19);
  }

  #change-input {
    grid-area: 2/2/3/3;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
  }

  #change-input form input {
    font-size: 15px;
  }

  #text-input {
    grid-area: 3/2/4/3;
    width: 90%;
    box-shadow: 0 0 15px rgb(20, 19, 19);
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #text-input h3 {
    font-size: 7vw;
  }

  #text-input input {
    width: 90%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  #message {
    margin-bottom: 10px;
    font-size: 15px;
  }

  #saveBtn {
    width: 90%;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}