@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nunito:wght@700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:ital@1&family=Lato:wght@300&family=Nanum+Gothic:wght@700&family=Nunito:wght@500;700&family=Orbitron:wght@500&family=Pacifico&family=Raleway:ital@1&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  border-bottom-style: solid;
  border-color: #BCC1BA;
  height: 42px;
  background-color: #FCFFFD;
  color: rgb(77, 82, 86);
  display: flex;
  align-items: center;
  justify-content: center;
}

#customerName {
  font-family: 'Lato', sans-serif;
}

#logout {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: #537164;
  margin-bottom: 10pt;
  font-weight: bold;
  border: 10px;
  border-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(243, 243, 243);
}

.nav-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
  font-family: 'Lato',
    sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: #537164;
  margin-bottom: 10pt;
  font-weight: bold;
  border: 10px;
  border-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(243, 243, 243);
  text-decoration: none;
}

.nav-button:hover {
  background-color: rgb(216, 215, 215);
  box-shadow: 1px 1px 3px #CCE3DE;
}

#homeContainer {
  grid-area: 1/2/2/3;
  width: 100%;
  padding-top: 15px;
}

#profileContainer {
  grid-area: 1/1/2/2;
  width: 100%;
  padding-top: 15px;
  align-items: center;
  text-align: center;
}

#logoutContainer {
  grid-area: 1/3/2/4;
  width: 100%;
  padding-top: 15px;
}

#logout {
  float: right;
  margin-right: 5%;
}

#home {
  float: left;
  margin-left: 5%;
}

#profile {
  align-items: center;
}

#logout:hover {
  background-color: rgb(216, 215, 215);
  box-shadow: 1px 1px 3px #CCE3DE;
}

#topnav {
  width: 100%;
  height: 50px;
}

.navbutton:hover {
  background-color: #435A50;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url("/imgs/background3.jpg") center/cover fixed;
  overflow-y: scroll;
  background-size: cover;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 9% 9% 82%;
  margin: 3% auto;
  min-height: 500px;
  height: auto;
  position: relative;
}

#pagename {
  grid-area: 1/2/2/3;
  font-family: 'Pacifico';
  font-size: 3vw;
  text-align: center;
}

#topnav {
  grid-area: 2/2/3/3;
  position: relative;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 3%;
}

#backToLogin {
  padding: 10pt;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 1vw;
}

#post {
  grid-area: 3/2/4/3;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(20, 19, 19);
  margin-top: 30px;
  font-family: 'Lato';
  padding-bottom: 20pt;
}

#center {
  text-align: center;
}

#text-input h3 {
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Pacifico', cursive;
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
}

#text-input input {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 1px;
  border-radius: 5px;
}

#status, #description, #getItem, #post > span{
  padding: 5pt;
  font-family: 'Lato';
  font-weight: 4000;
  font-size: 20px;
  padding-left: 20pt;
}

#post > p {
  display: inline-block;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
}

#post-title {
  font-size: 25px;
  font-weight: bold;
  padding: 5pt;
  padding-left: 15pt;
}

#posted > p {
  display: inline-block;
}

#posted {
  text-align: right;
}

#messagepost {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  border-width: 1px;
  width: 30px;
  margin-left: 25pt;
  padding: 5pt;
  font-family: 'Lato';
  font-weight: 2000;
  font-size: 20px;
  padding-left: 15px;
  margin-top: 20px;
  background-color: #4e5a55;
  color: white;
  box-shadow: 0 0 10px rgb(54, 52, 52);
}

img {
  width: 25vw;
  box-shadow: 1px 1px 3px rgb(73, 71, 71);
}

@media only screen and (max-width: 600px) {
  body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url("/imgs/background3.jpg") center/cover fixed;
  overflow-y: scroll;
  background-size: cover;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: 10% 10% 80%;
    min-height: 500px;
    height: auto;
    position: relative;
  }

  #pagename {
    grid-area: 1/2/2/3;
    font-family: 'Pacifico', cursive;
    font-size: 8vw;
    text-align: center;
  }

  #topnav {
    grid-area: 2/2/3/3;
    position: relative;
    text-align: center;
    align-items: center;
    width: auto;
    height: auto;
  }

  #backToLogin {
    padding: 10pt;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 3vw;
  }

  #post {
    grid-area: 3/2/4/3;
    width: 90%;
    height: auto;
    padding: 10px;
    position: relative;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(20, 19, 19);
    margin-top: 15px;
    font-family: 'Lato';
    padding-bottom: 20pt;
  }

  #center {
    text-align: center;
  }

  #text-input h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
  }

  #text-input input {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 1px;
    border-radius: 5px;
  }

  #status, #description, #getItem, #post > span{
    padding: 5pt;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    padding-left: 20pt;
  }

  #post > p {
    display: inline-block;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
  }

  #post-title {
    font-size: 25px;
    font-weight: bold;
    padding: 5pt;
    padding-left: 15pt;
  }

  #posted > p {
    display: inline-block;
  }

  #posted {
    text-align: right;
  }

  #messagepost {
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
    width: 25px;
    margin-left: 20pt;
    padding: 5pt;
    font-family: 'Lato';
    font-weight: 1000;
    font-size: 20px;
    padding-left: 12px;
    margin-top: 10px;
    background-color: #4e5a55;
    color: white;
    box-shadow: 0 0 10px rgb(54, 52, 52);
  }

  img {
  width: 80vw;
  }
}