<!DOCTYPE html>
<html lang="en">

<head>
    <title>Messages</title>
    <meta charset="utf-8" />
    <link href="/imgs/OTH-favicon.ico" rel="icon" type="image/x-icon" />

    <!-- CSS style -->
    <link rel="stylesheet" href="/css/message.css" />
</head>

<body>
    <button id="backToMain">Back</button>
    <br>

    <!-- Current session username -->
    <p id="thisUserName"></p>
    <br>


    <!-- All users this user has messaged -->
    <div id="thisUsersContacts">
        <h3>Your Contacts</h3>
    </div>
    <br>

    <!-- List of users who are online -->
    <div id="users"></div>

    <br>

    <!-- Message list (all past and current messages) -->
    <div id="allMessages"></div>

    <br>

    <!-- Message form -->
    <div>
        <input id="messageInput" placeholder="Type message" disabled="true">
        <button id="sendMessageBtn" type="submit" onclick="sendMessageToUser()" disabled="true">Send</button>
    </div>



    <!-- JavaScript -->
    <% if (is_heroku) { %>
        <script src="https://on-the-house-bby-22.herokuapp.com/socket.io/socket.io.js"></script>
        <script src="js/clientMessage.js"></script>
    <% } else { %>
        <script src="http://localhost:8000/socket.io/socket.io.js"></script>
        <script src="js/clientMessage.js"></script>
    <% } %>

</body>

</html>